body {
    background-color: #fffcf4;
}

body,
h1,
h2,
p,
div,
span,
input,
button,
textarea,
select,
legend,
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

h1 {
    font-size: 14pt;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

h2 {
    font-size: 13pt;
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: bold;
}

a,
a:link,
a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

header {
    display: -webkit-flex;
    display: flex;
    background-color: #23dbdd;
    border-bottom: solid #92dd23 2px;
}

nav.navbar-header {
    min-width: 200px;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding: 10px;
}

nav.navbar-header a {
    text-decoration: none;
}

nav.navbar-header span {
    font-size: 16pt;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 0px;
    display: inline-block;
}

nav.navbar-main {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}

.nav-show,
.nav-close {
    cursor: pointer;
    display: none;
}

.navbar-nav {
    float: right;
}

main {
    display: -webkit-flex;
    display: flex;
}

aside {
    min-width: 200px;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding: 10px;
    background-color: #23dbdd;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin: 0;
    padding: 0 0 20px 10px;
    list-style: none;
    border-top: 2px solid #23dbdd;
}

aside ul li:hover,
aside ul li.sml-selected {
    color: #92dd23;
    border-top: 2px solid #92dd23;
}

span.sml-toolbar {
    float: right;
}

ul.sml-list,
ul.sml-list-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

li.sml-list {
    border-top: 2px solid #23dbdd;
    display: flex;
    padding: 3px;
}

ul.sml-list {
    border-bottom: 2px solid #23dbdd;
}

.sml-list-due {
    font-weight: bold;
}

.sml-list-all {
    font-style: italic;
}

ul.sml-list-item {
    width: 100%;
}

.sml-list-item-due div {
    font-weight: bold;
}

.sml-list-item-overdue div {
    font-weight: bold;
    color: red;
}

ul.sml-list-item>li {
    display: flex;
    background-color: #92d3d4;
    margin: 2px;
}

ul.sml-list-item>li>div:nth-child(2)>form {
    display: inline;
}

ul.sml-list-item>li>div:nth-child(2) {
    flex-grow: 1;
}

ul.sml-list-item>li>div:last-child {
    width: 130px;
}

ul.sml-list-item>li>div:last-child span {
    font-size: 10pt;
}

ul.sml-list-item>li>div {
    padding: 0 10px 0 0;
}

.sml-list-item-notes {
    margin-top: 2px;
    font-size: 11pt;
    white-space: pre-line;
}

form[name="sml-list-add"] label,
form[name="sml-feed-add"] label {
    width: 105px;
    display: inline-block;
    vertical-align: top;
}

input.sml-list-add-description {
    width: 300px;
}

textarea.sml-list-add-notes {
    width: 300px;
    height: 60px;
}

input.sml-list-add-due {
    width: 110px;
}

.pagination {
    display: inline-block;
}

.pagination * {
    float: left;
    padding: 5px 10px;
    text-decoration: none;
}

.pagination a.pagination-active {
    background-color: #23dbdd;
}

.pagination a:hover:not(.pagination-active) {
    background-color: #92d3d4;
}

article {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    background-color: white;
}

footer {
    border-top: solid #92dd23 1px;
    padding: 10px;
    text-align: center;
    font-size: 10pt;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.sml-list li.placeholder {
    position: relative;
    background: #23dbdd;
    padding: 1px 1px;
    clear: both;
}

ul.sml-list li.placeholder:before {
    position: absolute;
}

.sml-list-item-drag-handle {
    cursor: move;
}

@media (max-width: 600px) {
    header {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    aside {
        display: none;
    }
    .nav-show {
        display: inline;
    }
    .narrow-hide {
        display: none;
    }
    ul.sml-list-item>li {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
    article {
        background-color: black;
        color: white;
    }
    footer {
        color: white;
    }
    span.sml-toolbar a {
        color: white;
    }
    .pagination>a {
        color: white;
    }
    ul.sml-list-item>li,
    span.selected {
        color: black;
    }
}